html{
   background: url("images/bg_subtle_white.png");
}

#shoutbox_wrapper{
   margin: 30px auto 0 auto;
   padding: 10px 20px 10px 10px;
   width: 600px;
   background: rgb(180, 180, 180);   
}
#shoutbox_wrapper input{
   padding: 3px;
   margin: 0;
}
#shoutbox_output{
   width: 100%;
   height: 600px;
   padding: 4px;
   background: rgb(240, 240, 240);
   word-wrap: break-word;
   overflow: auto;
}
#shoutbox_input_name{
   margin: 10px 0 10px 0;
}
#shoutbox_input_name input{
   width: 150;
}
#shoutbox_input_text{
   display: inline-block;
   vertical-align: top;
}
#shoutbox_input_text input{
   height: 30px;
   width: 400px;
}
#shoutbox_input_send{
   display: inline-block;
   vertical-align: top;
}
#shoutbox_input_send_button{
   font-size: 25px;
   color: rgb(150, 150, 150);
}

#shoutbox_options_wrapper{
   margin-top: 7px;
}
#shoutbox_options_wrapper button{
   width: 30px;
   height: 30px;
   margin: 1px;
   border: 1px solid rgb(0, 0, 102);
}
#shoutbox_options_wrapper button:hover{
   border: 3px solid rgb(0, 0, 102);
}
#shoutbox_options_wrapper button:active{
   border: 3px solid rgb(0, 0, 102);
}
#shoutbox_options_buttons div{
   display: inline-block;
   vertical-align: top;
}
#shoutbox_button_smiley{
   background-image: url(smileys/bigsmile.gif);
   background-repeat: no-repeat;
}
#shoutbox_button_color{
   background: red;
}
#shoutbox_options_list{
   position: absolute;
}
#shoutbox_options_list button{
   background: rgb(240, 240, 240);
}
#shoutbox_options_smiley_list, #shoutbox_options_color_list, #shoutbox_options_symbol_list{
   width: 420px;
   display: none;
   background: rgba(64, 64, 64, 0.8);
   border: 2px solid rgb(64, 64, 64);
}

.boxShadow{
   box-shadow: -2px -2px 5px black;
}
.boxShadow2{
   box-shadow: inset -1px -1px 5px black;
}
.small{
   font-size: 10px;
}
.bgSizeCover{
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover; 
}
.shoutbox_output_username{
   font-size: 19px;
   font-weight: bold;
   color: rgb(20, 50, 255);
}
.shoutbox_output_date{
   margin-left: 10px;
   font-size: 10px;
   font-weight: normal;
   color: rgb(100, 100, 255);
}
.shoutbox_output_text{
   font-size: 17px;
   font-weight: normal;
   color: rgb(0, 0, 0);
}
.copyright{
   font-size: 10px;
   text-align: center;
}