<!DOCTYPE html>
<html>
    <head>
        <title>RASound</title>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'interface/css/base.css' %}">
        {% block head %}{% endblock head %}
    </head>

    <body>
        {% block content %}{% endblock content %}
    </body>

    <footer>
        {% block footer %}{% endblock footer %}
    </footer>
</html>