<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>Genres</th>
            <th>Artists</th>
            <th>Sources</th>
        </tr>
    </thead>
    <tbody>
    {% for song in songs %}
        <tr data-song-id="{{ song.id }}">

            <td>{{ song.name }}</td>
            <td>{{ song.created }}</td>
            <td>
            {% for genre in song.genres %}
                <span data-genre-id="{{ genre.id }}">{{ genre.name }}</span>
            {% endfor %}
            </td>
            <td>
            {% for artist in song.artists %}
                <span data-artist-id="{{ artist.id }}">{{ artist.name }}</span>
            {% endfor %}
            </td>
            <td>
            {% for source in song.sources %}
                <span data-source-id="{{ source.id }}">{{ source.uri }}</span>
            {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>