<table>
    <thead>
        <tr>
            <th>YouTube Title</th>
            <th>Predicted Title</th>
            <th>Predicted Artists</th>
            <th>Video ID</th>
        </tr>
    </thead>
    <tbody>
    {% for video in videos %}
        <tr>

            <td>{{ video.title }}</td>
            <td>{{ video.predicted_title }}</td>
            <td>
            {% for artist in video.predicted_artists %}
                <span>{{ artist }}</span>
            {% endfor %}
            </td>
            <td>{{ video.id }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>